<%# --- 題名 -------------------------------------------------------- %>
<div><h1>編集する</h1></div>
<%# --- 食品登録フォーム -------------------------------------------------------- %>
<div class='flerm'>
  <div class='left'>
    <%# --- 食品検索フォーム -------------------------------------------------------- %>
    <%= form_with(url: training_path, model: @training, local: true, method: :patch) do |f| %>
      <%= render "form", f: f %>
    <% end %>
  </div>
  <div class='right'>
    <%# --- 編集表示 ----------------------------------------------------- %>
    <h1>編集中データ</h1>
    <td class='text-center'><%= @training.menu %></td>
    <td class='text-center'><%= @training.explain %></td>
    <td class='text-center'><%= @training.kcal %></td>
    <%# --- 登録画面 -------------------------------------------------------- %>
    <div><%= link_to "登録画面に戻る", new_training_path, class: "btn btn-success" %></div>
  </div>
</div>
<%= render "shared/footer"%>