<div class='form-wrap'>
  <%# --- タイトル ------------------------------------------------------ %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <h1>記録する</h1>
    </div>
  </div>
  <%# --- エラー表示 ---------------------------------------------------- %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <%= render 'shared/error_messages', model: f.object %>
    </div>
  </div>
  <%# --- 体重 --------------------------------------------------------- %>
  <div class="form-group">
    <div class='form-text-wrap'>
        <label class="form-text">体重</label>
        <span class="indispensable">必須</span>
    </div>
    <div class='input-name-wrap'>
      <%= f.text_field :weight, class:"input-default", placeholder: "60.5", id:'weight' %>
      <div class='form-text-wrap'>
        <label class="form-text">kg</label>
      </div>
    </div>
  </div>
  <%# --- 睡眠時間 ------------------------------------------------------ %>
  <div class="form-group">
    <div class='form-text-wrap'>
        <label class="form-text">睡眠時間</label>
        <span class="indispensable">必須</span>
    </div>
    <div class='input-text-wrap'>
      <%= f.collection_select(:sleep_time_id, SleepTime.all, :id, :time, {}, {class:"input-name", id:"sleep-time"}) %>
    </div>
    <%# 睡眠時間による消費カロリー %>
    <div class="view-content">
      <span>睡眠の消費カロリー</span>
      <span>
        <span id='sleep-kcal'>0</span> kcal
      </span>
    </div>
  </div>
  <%# --- メモ ---------------------------------------------------------- %>
  <div class="form-group">
    <div class='form-text-wrap'>
        <label class="form-text">メモ</label>
        <span class="indispensable">任意</span>
    </div>
    <%= f.text_field :memo, class:"input-default", placeholder: "メモ", id:'weight' %>
  </div>
  <%# --- 記録日 -------------------------------------------------------- %>
  <% if request.path_info == "/healths/new" or request.path_info == "/healths" %>
    <div class="form-group">
      <div class='form-text-wrap'>
        <label class="form-text">記録日</label>
        <span class="indispensable">必須</span>
      </div>
      <div class='input-birth-wrap'>
          <%= raw sprintf(
                    f.date_select(
                      :start_time,
                      class:'select-birth',
                      id:"recording-date",
                      use_month_numbers: true,
                      prompt:'--',
                      start_year: (Time.now.year - 1),
                      end_year: (Time.now.year),
                      selected: Date.today,
                      date_separator: '%s'),
                    "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      </div>
    </div>
    <% else %>
    <div class="form-group">
      <div class='form-text-wrap'>
          <label class="form-text">記録日</label>
      </div>
      <div class='input-name-wrap'>
        <div class='form-text-wrap'>
          <label class="form-text"><%= @health.start_time.strftime("%Y年%m月%d日") %></label>
        </div>
      </div>
    </div>
  <% end %>
  <%# --- 送信ボタン ----------------------------------------------------- %>
  <div class='register-btn'>
    <% if request.path_info == "/healths/new" or request.path_info == "/healths" %>
      <%= f.submit "記録する" ,class:"register-red-btn" %>
    <% else %>
      <%= f.submit "変更する" ,class:"register-red-btn" %>
    <% end %>
  </div>
<%# --- 終了------------------------------------------------------------ %>
</div> 