<%# --- ヘッダー呼び出し ----------------------------------------------- %>
<%= render "shared/header"%>

<%# --- 食品入力フォーム -------------------------------------------------------- %>
<%= form_with(url: healths_path, model: @health, local: true, method: :post) do |f| %>
  <%= render "form", f: f %>
<% end %>
<%# --- カレンダー ----------------------------------------------------- %>
<div class="form-group">
  <div class='form-text-wrap'>
    <%# コントローラーのnewアクションで取得したテーブル情報を反映 %>
    <%= month_calendar events: @healths do |date, healths| %>
      <%# カレンダーの日付表示 %>
      <%= date.day %>
      <%# start_timeの登録データがある時だけ表示 %>
      <% healths.each do |health| %>
        <div>
          <%# 他ユーザーの記録日データが表示させないようにする %>
          <% if current_user.id == health.user_id %>
            <div><%= health.weight %><%= " kg" %></div>
            <%= link_to '編集する', edit_health_path(id: health), class: 'btn-default btn-outline-success' %>
            <%= link_to '削除する', health_path(id: health), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn-default btn-outline-danger' %>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
<%# --- フッター呼び出し ----------------------------------------------- %>
<%= render "shared/footer"%>

