    <%# --- 登録表示 ----------------------------------------------------- %>
    <% @meals.each do |meal| %>
      <div>
        <td class='text-center'><%= meal.start_time.to_s(:datetime_jp) %></td>
        <td class='text-center'><%= meal.food.food_name %></td>
        <td class='text-center'><%= meal.num %></td>
        <% if meal.meal_flg == 1 then %>
          <td class='text-center'>朝食</td>
        <% elsif meal.meal_flg == 2 then %>
          <td class='text-center'>昼食</td>
        <% elsif meal.meal_flg == 3 then %>
          <td class='text-center'>夕食</td>
        <% elsif meal.meal_flg == 4 then %>
          <td class='text-center'>その他</td>
        <% end %>
        <%= link_to '編集する', edit_meal_path(id: meal), class: 'btn-default btn-outline-success' %>
        <%= link_to '削除する', meal_path(id: meal), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn-default btn-outline-danger' %>
      </div>
    <% end %>