<%# --- エラー表示 ---------------------------------------------------- %>
<div class="form-group">
  <div class='form-text-wrap'>
    <%= render 'shared/error_messages', model: f.object %>
  </div>
</div>
<%# --- 商品登録 -------------------------------------------------------- %>
<%= link_to "食品登録", new_food_path, class: "btn btn-success" %>
<%# --- 食事一覧 -------------------------------------------------------- %>
<tbody>
  <%# 0件の時、データがありませんと表示 %>
  <% if @foods.exists? %>
    <%# food_countにより、1レコード目にチェックをする %>
    <% food_count = 0 %>
    <% @foods.each do |food| %>
      <div>
        <% food_count += 1 %>
        <% if food_count == 1 then %>
          <label class="button-name"> <%= f.radio_button :food_id, food.id, checked: true, class: "button-size" %><%= food.food_name %></label>
        <% else %> 
          <label class="button-name"> <%= f.radio_button :food_id, food.id, class: "button-size" %><%= food.food_name %></label>
        <% end %>
        <td class='text-center'><%= food.explain %></td>
        <td class='text-center'><%= food.kcal %></td>
      </div>
    <% end %>
  <% else %>
    <td class='text-center'>データがありません</td>
  <% end %>
</tbody>
<%# 0件の時、データがありませんと表示 %>
<% if @foods.exists? %>
  <%# --- 食事時間 -------------------------------------------------------- %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">食事時間</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='button-name-wrap'>
        <label class="button-name"> <%= f.radio_button :meal_flg, 1, checked: true, class: "button-size" %>朝食</label>
        <label class="button-name"> <%= f.radio_button :meal_flg, 2, class: "button-size"  %>昼食</label>
        <label class="button-name"> <%= f.radio_button :meal_flg, 3, class: "button-size"  %>夕食</label>
        <label class="button-name"> <%= f.radio_button :meal_flg, 4, class: "button-size"  %>その他</label>
    </div>
  </div>
  <%# --- 食事数 -------------------------------------------------------- %>
  <%= f.text_field :num, class:"input-default", placeholder: "60", id:'weight' %>
  <%# --- 記録日 -------------------------------------------------------- %>
  <div class="form-group">
    <div class='form-text-wrap'>
      <label class="form-text">記録日</label>
      <span class="indispensable">必須</span>
    </div>
    <div class='input-birth-wrap'>
      <% if request.path_info == new_meal_path %>
        <%= raw sprintf(
            f.date_select(
              :start_time,
              class:'select-birth',
              id:"recording-date",
              use_month_numbers: true,
              prompt:'--',
              start_year: (Time.now.year - 1),
              end_year: (Time.now.year),
              selected: Date.today,
              date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      <% else %>
        <%= raw sprintf(
            f.date_select(
              :start_time,
              class:'select-birth',
              id:"recording-date",
              use_month_numbers: true,
              prompt:'--',
              start_year: (Time.now.year - 1),
              end_year: (Time.now.year),
              date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      <% end %>
    </div>
  </div>
  <%# --- 送信ボタン ----------------------------------------------------- %>
  <div class='register-btn'>
    <%# 新規登録か編集かにより、ボタン名称変更 %>
    <% if request.path_info == new_meal_path %>
      <%= f.submit "記録する" ,class:"register-red-btn" %>
    <% else %>
      <%= f.submit "編集する" ,class:"register-red-btn" %>
    <% end %>
  </div>
<% end %>



