<%# --- 題名 -------------------------------------------------------- %>
<div><h1>編集する</h1></div>
<%# --- 食品登録フォーム -------------------------------------------------------- %>
<div class='flerm'>
  <div class='left'>
    <%# --- 食品検索フォーム -------------------------------------------------------- %>
    <%= form_with(url: edit_meal_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
      <%= form.submit "検索",class:"search-button" %>
    <% end %>
    <%= form_with(url: meal_path, model: @meal, local: true, method: :patch) do |f| %>
      <%= render "form", f: f %>
    <% end %>
  </div>

  <div class='right'>
    <%# --- 編集表示 ----------------------------------------------------- %>
    <h1>編集中データ</h1>
    <td class='text-center'><%= @meal.start_time.strftime("%Y年%m月%d日") %></td>
    <td class='text-center'><%= @meal.food.food_name %></td>
    <td class='text-center'><%= @meal.num %></td>
    <% if @meal.meal_flg == 1 then %>
      <td class='text-center'>朝食</td>
    <% elsif @meal.meal_flg == 2 then %>
      <td class='text-center'>昼食</td>
    <% elsif @meal.meal_flg == 3 then %>
      <td class='text-center'>夕食</td>
    <% elsif @meal.meal_flg == 4 then %>
      <td class='text-center'>その他</td>
    <% end %>
    <%# --- 登録画面 -------------------------------------------------------- %>
    <div><%= link_to "登録画面に戻る", new_meal_path, class: "btn btn-success" %></div>
  </div>
</div>
<%= render "shared/footer"%>