<%# --- 題名 -------------------------------------------------------- %>
<div><h1>編集する</h1></div>
<%# --- 食品登録フォーム -------------------------------------------------------- %>
<div class='flerm'>
  <div class='left'>
    <%# --- 食品検索フォーム -------------------------------------------------------- %>
    <%= form_with(url: edit_meal_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
      <%= form.submit "検索",class:"search-button" %>
    <% end %>
    <%= form_with(url: meal_path, model: @meal, local: true, method: :patch) do |f| %>
      <%= render "meals/form", f: f %>
    <% end %>
  </div>

  <div class='right'>
      <%= form_with(url: edit_meal_path, local: true, method: :get, class: "search-form") do |form| %>
      <% if @params3 == "00" then %>
        <%= raw sprintf(
            form.date_select(
            :keyword2,
            class:'select-birth',
            id:"recording-date",
            use_month_numbers: true,
            prompt:'',
            start_year: (Time.now.year - 1),
            end_year: (Time.now.year),
            date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      <% else %>
        <%= raw sprintf(
            form.date_select(
            :keyword2,
            class:'select-birth',
            id:"recording-date",
            use_month_numbers: true,
            prompt:'',
            start_year: (Time.now.year - 1),
            end_year: (Time.now.year),
            selected: @params.to_date,
            date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      <% end %>   
      <%= form.submit "検索",class:"search-button" %>
    <% end %>
    <%# --- 登録表示 ----------------------------------------------------- %>
    <%= render "meals/form2" %>
  </div>
</div>
<%= render "shared/footer"%>