<%# --- 題名 -------------------------------------------------------- %>
<div><h1>登録する</h1></div>
<%# --- 食品登録フォーム -------------------------------------------------------- %>
<div class='flerm'>
  <div class='left'>
    <%# --- 食品検索フォーム -------------------------------------------------------- %>
    <%= form_with(url: new_meal_path, local: true, method: :get, class: "search-form") do |form| %>
      <%= form.text_field :keyword, placeholder: "検索する", class: "input-box" %>
      <%= form.submit "検索",class:"search-button" %>
    <% end %>
    <%# --- 食品一覧 -------------------------------------------------------- %>
    <%= form_with(url: meals_path, model: @meal, local: true, method: :post) do |f| %>
      <%= render "form", f: f %>
    <% end %>
  </div>

  <div class='right'>
  <%# --- 登録表示 ----------------------------------------------------- %>
    <%# --- 食事検索フォーム -------------------------------------------------------- %>
    <%= form_with(url: new_meal_path, local: true, method: :get, class: "search-form") do |form| %>
      <% if @params3 == "00" then %>
        <%= raw sprintf(
            form.date_select(
            :keyword2,
            class:'select-birth',
            id:"recording-date",
            use_month_numbers: true,
            prompt:'',
            start_year: (Time.now.year - 1),
            end_year: (Time.now.year),
            date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      <% else %>
        <%= raw sprintf(
            form.date_select(
            :keyword2,
            class:'select-birth',
            id:"recording-date",
            use_month_numbers: true,
            prompt:'',
            start_year: (Time.now.year - 1),
            end_year: (Time.now.year),
            selected: @params.to_date,
            date_separator: '%s'),
            "<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
      <% end %>   
      <%= form.submit "検索",class:"search-button" %>
    <% end %>
    <%# --- 登録表示 ----------------------------------------------------- %>
    <%# 食品(食事と紐づいている)が0件の時、データがありませんと表示 %>
    <% if @meals.exists? %>
      <% @meals.each do |meal| %>
        <div>
          <td class='text-center'><%= meal.start_time.strftime("%Y年%m月%d日") %></td>
          <td class='text-center'><%= meal.food.menu %></td>
          <td class='text-center'><%= meal.num %></td>
          <% if meal.period == 1 then %>
            <td class='text-center'>朝食</td>
          <% elsif meal.period == 2 then %>
            <td class='text-center'>昼食</td>
          <% elsif meal.period == 3 then %>
            <td class='text-center'>夕食</td>
          <% elsif meal.period == 4 then %>
            <td class='text-center'>その他</td>
          <% end %>
          <%= link_to '編集する', edit_meal_path(id: meal), class: 'btn-default btn-outline-success' %>
          <%= link_to '削除する', meal_path(id: meal), method: :delete, data: { confirm: '削除しますか？' }, class: 'btn-default btn-outline-danger' %>
        </div>
      <% end %>
    <% else %>
      <td class='text-center'>データがありません</td>
    <% end %>
  </div>

</div>
<%= render "shared/footer"%>